
/*my part*/
.account1{
    background-color:var(--clr-black-500);
    color: #212529;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    display: flex;
	  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    
    border-radius: 0.3rem;
	  min-width: 250px;
    
}


.container1{
    max-width: 1140px;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: 20%;

}

.container1 h1{
    color:var(--clr-default-txt);
    position: relative;
	text-align: center;
	
}

.text h4{
    text-align:center;
}

.container h1{
    text-align:center;

}



.form-group1{
	display: block;
    margin-top: 4rem;
}

label {
	align-items: center;
  display: inline-block;
	color: #de2666;
	font-size: 20px;
  argin-bottom: .5rem;
}

.form-control1 {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #070c11;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn{
	display:flex;
	gap: 30px;
  vertical-align: middle;
  user-select: none; 
  
  padding: .375rem .75rem;
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
	cursor: pointer;

}

.btn1 {
    color: var(--clr-default-txt);
    background: #007bff;
    
}

.btn2{
    color: var(--clr-default-txt);
    background: rgb(240, 227, 2);
    

}


.btn .btn1:hover{
  background-color: #ff6347;
  transform: scale(1.1);

}

.btn .btn2:hover{
  background-color: red;
  transform: scale(1.1);

}

.btn .btn1 button{
  background: transparent;}

.btn .btn2 button{
  background: transparent;}




hr {

    display: block;
    height: 40px;
    border: 0px;
    border-top: 1px solid  rgb(240, 227, 211);
    margin: 5em 0;
   
}

