.container {
  position: relative;
  max-width: 600px;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(51, 51, 51, 0.304);
  box-shadow: 0 0 1px 2px rgba(94, 223, 96, 0.323);
}

.form .input-box, .select-box{
  margin-top: 12px;
}
.input-box label , .select-box label{
  width: 20rem;
  color: rgb(16, 72, 26);
}

.input-box input, .select-box select{
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  margin-top: 3px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 0 1px 2px rgba(94, 223, 96, 0.323);
}


input[type=submit] {
  cursor: pointer;
  padding: 0.5em 0.9em;
  border-radius: 0.5em;
  border: 0;
  background-color: rgb(210, 239, 210);
  color: rgb(4, 4, 4);
  font-weight: var(--fw-semibold);
  width: 5rem;
  font-size: medium;
  
  box-shadow: 0 0 0 2px  rgb(114, 227, 114),
    inset 0 0 0 1px #ffffff;
}

input[type=submit]:hover{
  background-color: rgb(114, 227, 114);
  color: rgb(255, 255, 255);
}
