
/*terms & conditions styles here*/
.hero{
    color: var(--clr-default-txt);
    overflow: hidden;
    margin-bottom: 20%; 
  }
  
  .container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 300vh;
    background-image: url('../images/h6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
  }
  
  /*button styles*/
  .inner-section{
    text-align: justify;
    background-color: #0d0c0c;
  }
  
  .skills{
    position:absolute;
    margin: 0;
    color: #cb1919;
    border-radius:10px;
    top: 15%;
    left: 32%;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .skills button{
    margin-inline: 1rem;
    display: inline-block;
    background-color: rgb(54, 41, 23);
    color: black;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    
  }
  
  .skills a{
    
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    background: transparent;
    font-size: 18px;
  }
  
  .skills button:hover{
    background-color: #b2923a;
    transform: scale(1.1);
  }
  
  .heding{
    font-size: 30px;
    margin-top: 5%;
  
  }
  
  .heding h1{
    text-align: center;
    margin-top: 6%; 
    color: rgba(227, 92, 19, 0.97);
    
  }
  
  .hero-content{
    flex: 1;
    width: auto;
    height: auto;
    text-align: left;
    font-family: sans-serif;
    color: var(--clr-default-txt);
    margin: 40px 25px;
  }
  
  .hero-content h3{
    
    /*margin: 0 40 10px 50px;*/
    margin-top:5%;
    margin-left: 4%;
    font-weight: bold;
    color: var(--clr-default-txt);
  }
  
  .hero-content h4{
    text-decoration: underline;
    position: relative;
    margin-left: 4%;
    margin-bottom: 50px;
    color: var(--clr-default-txt);
  }
  
  .hero-content ol{
    position: relative;
    margin-right: 10%; 
    margin-left: 6%;
    
  }
  
  .hero-content ul{
    position: relative;
    margin-right: 10%; 
    margin-left: 6%;
  }
  
  .hero-content li{
    position: relative;
    margin-right: 10%; 
    margin-left: -1%;
    font-size:larger;
    font-weight: bold;
    color: var(--clr-default-txt);
    
  }
  /*to here*/
  
  